* {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 300px 0 150px 0;
    background-size: cover;
    color:black;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 1.0;
    font-size: 90px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
  }
  
  .top-wrapper p {
    opacity: 1.0;
    margin-bottom: 3px;
    font-size:40px;
    padding-bottom:20px;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
  }
  
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  .heading h1 {
    font-weight: normal;
    font-size:50px;
    font-family:'Times New Roman';
    color: black;
    padding-top:0;
  }
  
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color:blue;
    font-family:Impact;
    letter-spacing: 2px;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .contact-form {
    padding-top: 100px;
    margin-left:20px;
    font-size:20px;
  }
  
  input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
    margin-left:5px;
  }
  .contact-submit{
    background-color:darkgrey;
    color:black;
    cursor: pointer;
    font-size:20px;
    box-shadow: 0 7px grey;
    width:250px;
    height:60px;
  }
  .contact-submit:active {
      position:relative;
      top:7px;
      box-shadow:none;
  }
  .about{
      color:white;
  }
  .about p{
      font-size:15px;
  }
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:black;
  }
